server
{
	listen 8000;
	listen 8001;

	host_name localhost www.localhost;

	cgi .php php-cgi;

	rewrite /index.php /index.html;

	client_max_body_size 1000000;

	location / {
	}

	location /src {
		autoindex on;
	}

	location /favicon.ico {
		root media;
	}

	location /config {
		root www;
	}
	
	location /www {
		limit_except GET;
		autoindex on;
	}
}

server
{
	listen 8002;

	host_name www.example.com www.test;

	location / {
		autoindex on;
	}
}